# Concrete Strength

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow
import tensorflow.keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.utils import to_categorical
%matplotlib inline

In [2]:
conc_df=pd.read_csv('concrete_data.csv')
conc_df.head(4)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05

In [3]:
conc_df.shape

(1030, 9)

In [4]:
conc_df.isna().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [5]:
conc_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Cement,1030.0,281.167864,104.506364,102.00,192.375,272.900,350.000,540.0
Blast Furnace Slag,1030.0,73.895825,86.279342,0.00,0.000,22.000,142.950,359.4
Fly Ash,1030.0,54.188350,63.997004,0.00,0.000,0.000,118.300,200.1
Water,1030.0,181.567282,21.354219,121.80,164.900,185.000,192.000,247.0
Superplasticizer,1030.0,6.204660,5.973841,0.00,0.000,6.400,10.200,32.2
Coarse Aggregate,1030.0,972.918932,77.753954,801.00,932.000,968.000,1029.400,1145.0
Fine Aggregate,1030.0,773.580485,80.175980,594.00,730.950,779.500,824.000,992.6
Age,1030.0,45.662136,63.169912,1.00,7.000,28.000,56.000,365.0
Strength,1030.0,35.817961,16.705742,2.33,23.710,34.445,46.135,82.6

In [6]:
conc_df.columns

Index(['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer',
       'Coarse Aggregate', 'Fine Aggregate', 'Age', 'Strength'],
      dtype='object')

In [7]:
conc_df_columns=conc_df.columns
predictors=conc_df[conc_df_columns[conc_df_columns!='Strength']]
target=conc_df['Strength']

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [10]:
n_cols=predictors.shape[1]
n_cols

8

## Modelling

In [11]:
def regression_model():
    model=Sequential()
    model.add(Dense(10,activation='relu',input_shape=(n_cols,)))
    model.add(Dense(1))
    model.compile(optimizer='adam',loss='mean_squared_error')
    
    return model

In [12]:
model=regression_model()

## Train Test Split

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(predictors,target,test_size=0.3,random_state=80)

In [14]:
print(f'Train Set: {X_train.shape,y_train.shape}')
print(f'Test Set: {X_test.shape,y_test.shape}')

Train Set: ((721, 8), (721,))
Test Set: ((309, 8), (309,))

In [15]:
epochs=50
model.fit(X_train,y_train,epochs=epochs,verbose=1)

Epoch 1/50
23/23 [==============================] - 1s 2ms/step - loss: 24571.5195
Epoch 2/50
23/23 [==============================] - 0s 2ms/step - loss: 6260.6553
Epoch 3/50
23/23 [==============================] - 0s 2ms/step - loss: 3977.6394
Epoch 4/50
23/23 [==============================] - 0s 2ms/step - loss: 3012.1838
Epoch 5/50
23/23 [==============================] - 0s 2ms/step - loss: 2575.9758
Epoch 6/50
23/23 [==============================] - 0s 2ms/step - loss: 2369.1196
Epoch 7/50
23/23 [==============================] - 0s 2ms/step - loss: 2212.8704
Epoch 8/50
23/23 [==============================] - 0s 2ms/step - loss: 2087.5603
Epoch 9/50
23/23 [==============================] - 0s 2ms/step - loss: 1976.4797
Epoch 10/50
23/23 [==============================] - 0s 2ms/step - loss: 1874.8870
Epoch 11/50
23/23 [==============================] - 0s 2ms/step - loss: 1793.1649
Epoch 12/50
23/23 [==============================] - 0s 2ms/step - loss: 1710.8875
Epoch 13/50
23/23 [==============================] - 0s 2ms/step - loss: 1624.3479
Epoch 14/50
23/23 [==============================] - 0s 2ms/step - loss: 1550.9629
Epoch 15/50
23/23 [==============================] - 0s 2ms/step - loss: 1474.4686
Epoch 16/50
23/23 [==============================] - 0s 2ms/step - loss: 1411.8945
Epoch 17/50
23/23 [==============================] - 0s 2ms/step - loss: 1349.8201
Epoch 18/50
23/23 [==============================] - 0s 2ms/step - loss: 1293.7478
Epoch 19/50
23/23 [==============================] - 0s 2ms/step - loss: 1234.6174
Epoch 20/50
23/23 [==============================] - 0s 2ms/step - loss: 1182.6171
Epoch 21/50
23/23 [==============================] - 0s 2ms/step - loss: 1125.8070
Epoch 22/50
23/23 [==============================] - 0s 2ms/step - loss: 1079.9624
Epoch 23/50
23/23 [==============================] - 0s 2ms/step - loss: 1031.6084
Epoch 24/50
23/23 [==============================] - 0s 2ms/step - loss: 992.3744
Epoch 25/50
23/23 [==============================] - 0s 2ms/step - loss: 947.4930
Epoch 26/50
23/23 [==============================] - 0s 2ms/step - loss: 909.8723
Epoch 27/50
23/23 [==============================] - 0s 2ms/step - loss: 870.5095
Epoch 28/50
23/23 [==============================] - 0s 2ms/step - loss: 836.5709
Epoch 29/50
23/23 [==============================] - 0s 2ms/step - loss: 801.0712
Epoch 30/50
23/23 [==============================] - 0s 2ms/step - loss: 769.3326
Epoch 31/50
23/23 [==============================] - 0s 2ms/step - loss: 738.6127
Epoch 32/50
23/23 [==============================] - 0s 2ms/step - loss: 711.3135
Epoch 33/50
23/23 [==============================] - 0s 2ms/step - loss: 680.5469
Epoch 34/50
23/23 [==============================] - 0s 2ms/step - loss: 654.1641
Epoch 35/50
23/23 [==============================] - 0s 2ms/step - loss: 628.9043
Epoch 36/50
23/23 [==============================] - 0s 2ms/step - loss: 603.2824
Epoch 37/50
23/23 [==============================] - 0s 2ms/step - loss: 581.1668
Epoch 38/50
23/23 [==============================] - 0s 2ms/step - loss: 559.0102
Epoch 39/50
23/23 [==============================] - 0s 2ms/step - loss: 536.6294
Epoch 40/50
23/23 [==============================] - 0s 2ms/step - loss: 514.5402
Epoch 41/50
23/23 [==============================] - 0s 2ms/step - loss: 493.5204
Epoch 42/50
23/23 [==============================] - 0s 2ms/step - loss: 476.5986
Epoch 43/50
23/23 [==============================] - 0s 2ms/step - loss: 456.2873
Epoch 44/50
23/23 [==============================] - 0s 2ms/step - loss: 437.7079
Epoch 45/50
23/23 [==============================] - 0s 2ms/step - loss: 420.8271
Epoch 46/50
23/23 [==============================] - 0s 2ms/step - loss: 404.9001
Epoch 47/50
23/23 [==============================] - 0s 2ms/step - loss: 387.3598
Epoch 48/50
23/23 [==============================] - 0s 2ms/step - loss: 372.5471
Epoch 49/50
23/23 [==============================] - 0s 2ms/step - loss: 357.7862
Epoch 50/50
23/23 [==============================] - 0s 2ms/step - loss: 345.2235

In [16]:
loss=model.evaluate(X_test,y_test)
y_pred=model.predict(X_test)
loss

10/10 [==============================] - 0s 2ms/step - loss: 394.8248

394.82476806640625

In [17]:
from sklearn.metrics import mean_squared_error

mse=mean_squared_error(y_test,y_pred)
mean=np.mean(mse)
std_dev=np.std(mse)
print(mean,std_dev)

394.82477858176946 0.0

## 50 MSE

In [18]:
total_mse=50
epochs=50
mse=[]

for i in range (0,total_mse):
    X_train,X_test,y_train,y_test=train_test_split(predictors,target,test_size=0.3,random_state=i)
    model.fit(X_train,y_train,epochs=epochs,verbose=0)
    MSE=model.evaluate(X_test,y_test,verbose=0)
    print(f'MSE {str(i+1)} : {str(MSE)}')
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mse.append(mean_square_error)

MSE 1 : 118.03112030029297
MSE 2 : 132.93820190429688
MSE 3 : 111.29733276367188
MSE 4 : 124.25188446044922
MSE 5 : 131.25918579101562
MSE 6 : 117.9191665649414
MSE 7 : 132.40426635742188
MSE 8 : 103.42144012451172
MSE 9 : 123.7535629272461
MSE 10 : 112.5067367553711
MSE 11 : 103.86175537109375
MSE 12 : 101.68778991699219
MSE 13 : 118.9599380493164
MSE 14 : 120.50350189208984
MSE 15 : 111.72087097167969
MSE 16 : 111.07866668701172
MSE 17 : 110.03425598144531
MSE 18 : 95.51280975341797
MSE 19 : 95.81253051757812
MSE 20 : 113.47126770019531
MSE 21 : 104.4564208984375
MSE 22 : 102.81768798828125
MSE 23 : 109.18890380859375
MSE 24 : 104.68740844726562
MSE 25 : 107.76362609863281
MSE 26 : 100.69548034667969
MSE 27 : 122.50371551513672
MSE 28 : 110.04708099365234
MSE 29 : 111.77032470703125
MSE 30 : 112.20491027832031
MSE 31 : 132.5325469970703
MSE 32 : 106.3073959350586
MSE 33 : 104.68964385986328
MSE 34 : 109.00907897949219
MSE 35 : 118.48226165771484
MSE 36 : 84.3052978515625
MSE 37 : 56.56389236450195
MSE 38 : 56.7750244140625
MSE 39 : 53.943328857421875
MSE 40 : 45.55046463012695
MSE 41 : 57.768455505371094
MSE 42 : 51.38324737548828
MSE 43 : 59.476959228515625
MSE 44 : 56.469444274902344
MSE 45 : 54.760162353515625
MSE 46 : 55.904624938964844
MSE 47 : 61.82041931152344
MSE 48 : 50.567466735839844
MSE 49 : 51.13578796386719
MSE 50 : 59.695281982421875

In [19]:
mean_squared_errors = np.array(mse)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

In [20]:
print(f"The mean and standard deviation of {str(total_mse)} MSE without normalized data. Total number of epochs for each training is: {str(epochs)}\n")
print(f"Mean Squared Error: {str(mean)}")
print(f"Standard Deviation: {str(standard_deviation)}")

The mean and standard deviation of 50 MSE without normalized data. Total number of epochs for each training is: 50

Mean Squared Error: 96.07405171479625
Standard Deviation: 27.247786236610526