# Concrete Strength

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow
import tensorflow.keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.utils import to_categorical
%matplotlib inline

In [2]:
conc_df=pd.read_csv('concrete_data.csv')
conc_df.head(4)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05

In [3]:
conc_df.shape

(1030, 9)

In [4]:
conc_df.isna().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [5]:
conc_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Cement,1030.0,281.167864,104.506364,102.00,192.375,272.900,350.000,540.0
Blast Furnace Slag,1030.0,73.895825,86.279342,0.00,0.000,22.000,142.950,359.4
Fly Ash,1030.0,54.188350,63.997004,0.00,0.000,0.000,118.300,200.1
Water,1030.0,181.567282,21.354219,121.80,164.900,185.000,192.000,247.0
Superplasticizer,1030.0,6.204660,5.973841,0.00,0.000,6.400,10.200,32.2
Coarse Aggregate,1030.0,972.918932,77.753954,801.00,932.000,968.000,1029.400,1145.0
Fine Aggregate,1030.0,773.580485,80.175980,594.00,730.950,779.500,824.000,992.6
Age,1030.0,45.662136,63.169912,1.00,7.000,28.000,56.000,365.0
Strength,1030.0,35.817961,16.705742,2.33,23.710,34.445,46.135,82.6

In [6]:
conc_df.columns

Index(['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer',
       'Coarse Aggregate', 'Fine Aggregate', 'Age', 'Strength'],
      dtype='object')

In [7]:
conc_df_columns=conc_df.columns
predictors=conc_df[conc_df_columns[conc_df_columns!='Strength']]
target=conc_df['Strength']

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [10]:
n_cols=predictors.shape[1]
n_cols

8

## Modelling

In [11]:
def regression_model():
    model=Sequential()
    model.add(Dense(10,activation='relu',input_shape=(n_cols,)))
    model.add(Dense(1))
    model.compile(optimizer='adam',loss='mean_squared_error')
    
    return model

In [12]:
model=regression_model()

## Train Test Split

In [27]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(predictors,target,test_size=0.3,random_state=80)
print(f'Train Set Shapes - X : {X_train.shape} y : {y_train.shape}')
print(f'Test Set Shapes - X : {X_test.shape} y : {y_test.shape}')

Train Set Shapes - X : (721, 8) y : (721,)
Test Set Shapes - X : (309, 8) y : (309,)

In [28]:
epochs=50
model.fit(X_train,y_train,epochs=epochs,verbose=1)

Epoch 1/50
23/23 [==============================] - 0s 2ms/step - loss: 111.3017
Epoch 2/50
23/23 [==============================] - 0s 2ms/step - loss: 116.4764
Epoch 3/50
23/23 [==============================] - 0s 2ms/step - loss: 116.6002
Epoch 4/50
23/23 [==============================] - 0s 3ms/step - loss: 114.7674
Epoch 5/50
23/23 [==============================] - 0s 2ms/step - loss: 116.4271
Epoch 6/50
23/23 [==============================] - 0s 2ms/step - loss: 115.3392
Epoch 7/50
23/23 [==============================] - 0s 2ms/step - loss: 113.9846
Epoch 8/50
23/23 [==============================] - 0s 2ms/step - loss: 112.1611
Epoch 9/50
23/23 [==============================] - 0s 2ms/step - loss: 115.1283
Epoch 10/50
23/23 [==============================] - 0s 2ms/step - loss: 117.9246
Epoch 11/50
23/23 [==============================] - 0s 2ms/step - loss: 116.9805
Epoch 12/50
23/23 [==============================] - 0s 2ms/step - loss: 112.2122
Epoch 13/50
23/23 [==============================] - 0s 2ms/step - loss: 113.3620
Epoch 14/50
23/23 [==============================] - 0s 2ms/step - loss: 114.0195
Epoch 15/50
23/23 [==============================] - 0s 2ms/step - loss: 116.8534
Epoch 16/50
23/23 [==============================] - 0s 2ms/step - loss: 117.0711
Epoch 17/50
23/23 [==============================] - 0s 2ms/step - loss: 114.9683
Epoch 18/50
23/23 [==============================] - 0s 2ms/step - loss: 112.0466
Epoch 19/50
23/23 [==============================] - 0s 2ms/step - loss: 115.1468
Epoch 20/50
23/23 [==============================] - 0s 2ms/step - loss: 113.8446
Epoch 21/50
23/23 [==============================] - 0s 2ms/step - loss: 112.1122
Epoch 22/50
23/23 [==============================] - 0s 2ms/step - loss: 112.4845
Epoch 23/50
23/23 [==============================] - 0s 2ms/step - loss: 114.5126
Epoch 24/50
23/23 [==============================] - 0s 2ms/step - loss: 112.2156
Epoch 25/50
23/23 [==============================] - 0s 2ms/step - loss: 110.9294
Epoch 26/50
23/23 [==============================] - 0s 2ms/step - loss: 111.3765
Epoch 27/50
23/23 [==============================] - 0s 2ms/step - loss: 110.0811
Epoch 28/50
23/23 [==============================] - 0s 2ms/step - loss: 119.0381
Epoch 29/50
23/23 [==============================] - 0s 2ms/step - loss: 110.9689
Epoch 30/50
23/23 [==============================] - 0s 2ms/step - loss: 119.8833
Epoch 31/50
23/23 [==============================] - 0s 2ms/step - loss: 115.6221
Epoch 32/50
23/23 [==============================] - 0s 2ms/step - loss: 115.7721
Epoch 33/50
23/23 [==============================] - 0s 2ms/step - loss: 111.4251
Epoch 34/50
23/23 [==============================] - 0s 2ms/step - loss: 111.6292
Epoch 35/50
23/23 [==============================] - 0s 2ms/step - loss: 111.8753
Epoch 36/50
23/23 [==============================] - 0s 2ms/step - loss: 111.8139
Epoch 37/50
23/23 [==============================] - 0s 2ms/step - loss: 111.1821
Epoch 38/50
23/23 [==============================] - 0s 2ms/step - loss: 117.1412
Epoch 39/50
23/23 [==============================] - 0s 2ms/step - loss: 110.9915
Epoch 40/50
23/23 [==============================] - 0s 2ms/step - loss: 111.3964
Epoch 41/50
23/23 [==============================] - 0s 2ms/step - loss: 118.1420
Epoch 42/50
23/23 [==============================] - 0s 2ms/step - loss: 114.8172
Epoch 43/50
23/23 [==============================] - 0s 2ms/step - loss: 111.0642
Epoch 44/50
23/23 [==============================] - 0s 2ms/step - loss: 114.0733
Epoch 45/50
23/23 [==============================] - 0s 2ms/step - loss: 112.1986
Epoch 46/50
23/23 [==============================] - 0s 2ms/step - loss: 111.5593
Epoch 47/50
23/23 [==============================] - 0s 2ms/step - loss: 118.0927
Epoch 48/50
23/23 [==============================] - 0s 2ms/step - loss: 111.2545
Epoch 49/50
23/23 [==============================] - 0s 2ms/step - loss: 113.8382
Epoch 50/50
23/23 [==============================] - 0s 2ms/step - loss: 122.6732

In [29]:
loss=model.evaluate(X_test,y_test)
y_pred=model.predict(X_test)
loss

10/10 [==============================] - 0s 2ms/step - loss: 103.9935

103.99345397949219

In [30]:
from sklearn.metrics import mean_squared_error

mse=mean_squared_error(y_test,y_pred)
mean=np.mean(mse)
std_dev=np.std(mse)
print(mean,std_dev)

103.99343380476337 0.0

## 50 MSE

In [35]:
total_mse=50
epochs=50
mse=[]

for i in range (0,total_mse):
    X_train,X_test,y_train,y_test=train_test_split(predictors,target,test_size=0.3,random_state=i)
    model.fit(X_train,y_train,epochs=epochs,verbose=0)
    MSE=model.evaluate(X_test,y_test,verbose=0)
    print(f'MSE {str(i+1)} : {str(MSE)}')
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mse.append(mean_square_error)

MSE 1 : 94.48351287841797
MSE 2 : 126.07400512695312
MSE 3 : 109.57637786865234
MSE 4 : 122.18971252441406
MSE 5 : 122.3802490234375
MSE 6 : 108.4609603881836
MSE 7 : 135.21310424804688
MSE 8 : 106.96836853027344
MSE 9 : 136.3834991455078
MSE 10 : 119.80699157714844
MSE 11 : 104.04444885253906
MSE 12 : 100.41139221191406
MSE 13 : 115.05136108398438
MSE 14 : 115.62496185302734
MSE 15 : 108.8838119506836
MSE 16 : 108.71155548095703
MSE 17 : 104.7904281616211
MSE 18 : 97.59019470214844
MSE 19 : 94.40612030029297
MSE 20 : 114.09965515136719
MSE 21 : 100.75159454345703
MSE 22 : 100.71129608154297
MSE 23 : 47.595951080322266
MSE 24 : 49.2398567199707
MSE 25 : 52.15057373046875
MSE 26 : 54.96613311767578
MSE 27 : 50.24462890625
MSE 28 : 44.966529846191406
MSE 29 : 53.97052001953125
MSE 30 : 49.656105041503906
MSE 31 : 53.41554641723633
MSE 32 : 42.70719909667969
MSE 33 : 55.58005142211914
MSE 34 : 49.82334518432617
MSE 35 : 55.228023529052734
MSE 36 : 53.84105682373047
MSE 37 : 52.75980758666992
MSE 38 : 52.975032806396484
MSE 39 : 59.69484329223633
MSE 40 : 50.44512176513672
MSE 41 : 55.35917282104492
MSE 42 : 45.081321716308594
MSE 43 : 47.68706512451172
MSE 44 : 55.70751190185547
MSE 45 : 58.36353302001953
MSE 46 : 53.88134002685547
MSE 47 : 51.958003997802734
MSE 48 : 62.61709213256836
MSE 49 : 50.78315734863281
MSE 50 : 58.09245300292969

In [36]:
mean_squared_errors = np.array(mse)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

In [41]:
print(f"The mean and standard deviation of {str(total_mse)} MSE without normalized data. Total number of epochs for each training is: {str(epochs)}\n")
print(f"Mean Squared Error: {str(mean)}")
print(f"Standard Deviation: {str(standard_deviation)}")

The mean and standard deviation of 50 MSE without normalized data. Total number of epochs for each training is: 50

Mean: 78.3080944950562
Standard Deviation: 30.363794584425648